[Desktop Entry]
Name=Etcher
Comment=Flash OS images to SD cards and USB drives, safely and easily.
Exec=AppRun %U
Terminal=false
Type=Application
Icon=etcher
StartupWMClass=etcher
Categories=Utility;
